body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  color: #ddd;
  user-select: none;
}
#toolbar {
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 10;
}
#info {
  opacity: 0.85;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: grab;
}
#canvas:active {
  cursor: grabbing;
}
